:root {
  --accent: #b48ead;
  --accent-secondary: #84607e;
  --accent-tertiary: #e6bedf;

  --border: #88c0d0;

  --danger: #bf616a;
  --warning: #ebcb8b;
  --success: #a3be8c;

  --text-white: #eceff4;
  --text-black: #2e3440;
}
