.button {
  all: unset;
  display: inline-flex;
  align-items: center;

  padding: 12px;
  font-weight: 700;
  border-radius: var(--radius);

  cursor: pointer;
  user-select: none;

  transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
  background: var(--accent);
  color: var(--text-black);

  &:hover {
    background: var(--accent-secondary);
  }

  &:disabled {
    color: var(--text-white);
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.button__icon {
  margin-right: 6px;
}

.button--success {
  background: var(--success);
  color: var(--foreground);
}
