// The site will use dark theme by default.

// Using the Nord color palette!
:root {
  --background: #2e3440;
  --background-primary: #3b4252;
  --background-secondary: #434c5e;
  --background-tertiary: #4c566a;

  --foreground: #eceff4;
  --foreground-secondary: #e5e9f0;
  --forgeround-tertiary: #d8dee9;
}
