// Using the Nord color palette!
.light {
  --background: #eceff4;
  --background-primary: #e5e9f0;
  --background-secondary: #d8dee9;
  --background-tertiary: #d8dee9;

  --foreground: #2e3440;
  --foreground-secondary: #3b4252;
  --forgeround-tertiary: #4c566a;
}
