.navigation {
  margin: 20px;
  display: flex;
  border-radius: 4px;
}

.navigation__entry {
  padding: var(--menu-padding);
  border-radius: 4px;
}

.navigation__entry--link {
  transition: color 0.15s ease-in-out;
  &:hover {
    color: var(--accent);
  }
}

.navigation__entry--primary {
  background: var(--accent);
  color: var(--text-black);
  font-weight: 700;

  transition: background 0.15s ease-in-out;
  &:hover {
    background: var(--accent-secondary);
  }
}

.entry__title {
  margin-left: 6px;
}
