.navigation {
  margin: 20px;
  display: flex;
  border: 2px solid var(--accent);
  border-radius: 4px;
}

.navigation__entry {
  padding: var(--menu-padding);
}

.navigation__entry--link {
  font-weight: 700;
  transition: background 0.15s ease-in-out;

  &:hover {
    background: var(--accent);
  }

  &:active {
    background: var(--accent-secondary);
  }
}

.navigation__entry--primary {
  background: var(--accent);
  color: var(--text-black);

  &:hover {
    background: var(--accent-secondary);
  }
}

.entry__title {
  margin-left: 6px;
}
