.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login__header {
  display: flex;
  padding-bottom: 12px;
  align-items: center;

  border-bottom: 3px solid var(--accent);
}

.header__title {
  margin-left: 20px;
  font-size: 2em;
}

.login__body {
  padding: 12px;
  border-radius: var(--radius);
}
