.profile {
  width: min(90vw, 1080px);
  margin: auto;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__username {
  font-size: 3rem;
}

.profile__bio {
  margin: 12px 0;
  font-size: 1rem;
  color: var(--foreground-secondary);
}
